*.pyo
*.env
__pycache__

.DS_Store
Thumbs.db

tmp/
out-tsc/
*.bak
.cache
.angular
bun.lockb
package-lock.json
.pnp.*
.yarn/*
yarn.lock
.yarnrc.yml
pnpm-lock.yaml
.sass-cache/
npm-debug.log
yarn-error.log

vendor/

ssl/
shared/
node_modules/
dist/
